<div class="row">
    <div class="col-sm-5">
        <p>Search for article title:</p>
        <input class="form-control form-control-md" id="myInput" type="text" placeholder="Title: ">
    </div>
    <div class="col-sm-5">
        <p>Search for specific date:</p>
        <input id="startDate" class="form-control" type="date"/>
    </div>
    <div class="col-sm-2">
        <p>New article</p>
        <a href="/blog/new" class="btn btn-success">New</a>
    </div>
</div>
