<div class="footer-clean">
    <footer>
        <div class="container foot">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Winery</h3>
                    <ul>
                        <li><a href="/winery/wineries">Wineries</a></li>
                        <li><a href="/winery/map">map</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Wine</h3>
                    <ul>
                        <li><a href="/wines/page">Wines</a></li>
                        <li><a href="/winery/new">Add wine</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Blog</h3>
                    <ul>
                        <li><a href="/blog/page">Blogs</a></li>
                    </ul>
                </div>
                <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
                <div class="center">
                    <p class="copyright">Wine Not © 2022</p>
                </div>
            </div>
        </div>
</div>
</div>
</footer>

<script src = "/js/toTop.js"></script>