<div class="footer-clean">
    <footer class ="foot1">
        <div class="container foot">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Winery</h3>
                    <ul>
                        <li><a href="/winery/wineries">Wineries</a></li>
                        <li><a href="/winery/map">map</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Wine</h3>
                    <ul>
                        <li><a href="/wines/page">Wines</a></li>
                        <li><a href="/wines/new">Add wine</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Blog</h3>
                    <ul>
                        <li><a href="/blog/page">Blogs</a></li>
                    </ul>
                </div>
                
                <div class="center">
                    
                </div>
            </div>
        </div>
        
        <p class="copyright">Wine Not © 2022</p>
       
</div>
</div>


<button onclick="topFunction()" id="myBtn" title="Go to top"><svg xmlns="http://www.w3.org/2000/svg"
    width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd"
        d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
</svg></button>
</footer>


<script src="/js/toTop.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
