 
      <div class="row d-flex justify-content-center wow fadeIn">

     
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><%= wine.offers.user %></td>
              <td><%= wine.offers.price %></td>
              <td><a class="btn btn-primary" href="<%= wine.offers.website%>" target="_blank"
                role="button">Link
              </a>
            </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Shop1</td>
              <td>Tel Aviv</td>
              <td>100</td>
              <td><a class="btn btn-primary" href="https://wine-pages.com/" target="_blank"
                role="button">Link
              </a>
            </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Shop1</td>
              <td>Tel Aviv</td>
              <td>100</td>
              <td><a class="btn btn-primary" href="https://wine-pages.com/" target="_blank"
                role="button">Link
              </a>
            </td>
            </tr>
          </tbody>
        </table>
    