<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

   
        
          <tr>
            <th scope="row">1</th>
            <td>
              <%= wine.offers.user %>
            </td>
            <td>
              <%= wine.offers.price %>
            </td>
            <td><a class="btn btn-primary" href="<%= wine.offers.website%>" target="_blank" role="button">Link</a>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Shop1</td>
            <td>Tel Aviv</td>
            <td>100</td>
            <td><a class="btn btn-primary" href="https://wine-pages.com/" target="_blank" role="button">Link
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Shop1</td>
            <td>Tel Aviv</td>
            <td>100</td>
            <td><a class="btn btn-primary" href="https://wine-pages.com/" target="_blank" role="button">Link
              </a>
            </td>
          </tr>

 