<link rel="stylesheet" href="/stylesheets/slides.css">
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <img src="/images/pic1.jpg" style="width:100%">


  </div>

  <div class="mySlides fade">
    <img src="/images/pic2.jpg" style="width:100%">

  </div>

  <div class="mySlides fade">
    <img src="/images/pic3.jpg" style="width:100%">
  </div>

  <script type="text/javascript" src="/js/slides.js"></script>