<link rel="stylesheet" href="/stylesheets/weather.css">

<div class="container">
    <span>Do you want to know what is the best wine for today ? Enter your location</span>
    <form id="input">
      <input type="text" id="city" placeholder="Enter City Name">
      <input  type="submit" value="Check" class=" btn btn-light">
    </form>
    <div id="weatherContainer">
      <span id="loc"></span>
      <span id="temp"></span>
      <span id="best"></span>
      <span id="bestwine"></span>
      <span id="Pic"></span>
    </div>
  </div>

<script type="text/javascript" src="/js/homepage.js"></script>