<link rel="stylesheet" href="/stylesheets/sidebar_wine_page.css">

<aside class="sidebar">

        <p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">Filters</p>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="filter-li">
          <div class="col-sm-5">
            <p>Search by name:</p>
            <input class="form-control form-control-md" id="NameInput" type="text" placeholder="Title: ">
        </div>

        <div class="col-sm-5">
          <p>Search by winey:</p>
          <input class="form-control form-control-md" id="WineryInput" type="text" placeholder="Title: ">
      </div>

      <div class="col-sm-5">
        <p>Search by country:</p>
        <input class="form-control form-control-md" id="CountrySearch" type="text" placeholder="Title: ">
    </div>
        
  
     
  </aside>

  <script src="/js/wines-filer.js"></script>
