<div class="card center" style="width: 40rem;">
<div class="card-body">
    <h5   class="card-title"><%= winery.name %></h5>
    <p  class="card-country"><%= winery.country %> </p>
    <p ><a class="btn btn-primary" href="<%= winery.website%>" target="_blank" role="button">Link</a></p>
</div>
</div>