<link rel="stylesheet" href="/stylesheets/sidebar_wine_page.css">

<aside class="sidebar">

  <p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">Filters</p>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="filter-li">
      <div class="col-sm-5">
        <p>Search by wine name:</p>
        <input class="form-control form-control-md" id="NameInput" type="text" placeholder="Name">
      </div>

      <div class="col-sm-5">
        <p>Search by winery:</p>
        <input class="form-control form-control-md" id="WineryInput" type="text" placeholder="Winery">
      </div>

      <div class="col-sm-5">
        <p>Search by country:</p>
        <input class="form-control form-control-md" id="CountrySearch" type="text" placeholder="Country">
      </div>



</aside>

<script src="/js/wines-filer.js"></script>