
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WineRate</title>
  <link rel="icon" type="image/x-icon" href="/public/images/tablogo.jpg">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/public/stylesheets/styles.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="magicscroll.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="/public/images/Logo.png" alt="">
      </a>

      <nav id="navbar" class="navbar navbar-expand-sm bg-light">
        <ul>
          <li><a class="nav-link scrollto" href="">Home</a></li>
          <li><a class="nav-link scrollto" href="">About</a></li>
          <li><a class="nav-link scrollto" href="">Blogs</a></li>
          <li class="dropdown"><a href="#"><span>Wines</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Red</a></li>
              <li><a href="#">White</a></li>
              <li><a href="#">Rose</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="">Contact</a></li>
          
          <li><a class="getstarted scrollto ml-auto" href="">Log in</a></li>

         
        
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div class="slideshow-container">

    <img src="/public/images/TextHomePage.jpg" class="TextHomePage">

  </div>

    
  <div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <img src="/public/images/pic1.jpg" style="width:100%">

    </div>
  
    <div class="mySlides fade">
      <img src="/public/images/pic2.jpg" style="width:100%">

    </div>
  
    <div class="mySlides fade">
      <img src="/public/images/pic3.jpg" style="width:100%">
    </div>
  
   
  <br>
  <div class="container">
    <span>Do you want to know what is the best wine for today ? Enter your location</span>
    <form id="input">
      <input type="text" id="city" placeholder="Enter City Name">
      <input  type="submit" value="Check" class=" btn btn-light">
    </form>
    <div id="weatherContainer">
      <span id="loc"></span>
      <span id="temp"></span>
      <span id="best"></span>
      <span id="bestwine"></span>
      <span id="Pic"></span>
    </div>
  </div>
  <div class="container">
 


  <!-- Template Main JS File -->
  <script type="text/javascript" src="/public/js/scripts.js"></script>
  <script type="text/javascript" src="magicscroll.js"></script>

</body>

</html>