extends layout

block bloat-content
    include ../bloats/css/css@5-1-3.pug
    include ../bloats/jquery/jquery@3-1-6.pug

block bloat-additive-content
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
    link(rel='stylesheet' href='https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/dist/mdb5/standard/core.min.css')
    link(rel='stylesheet' id='roboto-subset.css-css' href='https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/mdb5/fonts/roboto-subset.css?ver=3.9.0-update.5' type='text/css' media='all')
    link(href="/stylesheets/login.css" rel="stylesheet")

block page-content
    section.vh-100
        .container-fluid
            .row
                .col-sm-6.text-black
                    .px-5.ms-xl-4
                        span.h1.fw-bold.mb-0 Wine 🍷 Not?
                    .d-flex.align-items-center.h-custom-2.px-5.ms-xl-4.mt-5.pt-5.pt-xl-0.mt-xl-n5
                        form(style='width: 23rem;')
                            h3.fw-normal.mb-3.pb-3(style='letter-spacing: 1px;') Log in
                            .form-outline.mb-4
                                input#email.form-control.form-control-lg.border(type='email')
                                label.form-label(for='form2Example18') Email address
                            .form-outline.mb-4
                                input#password.form-control.form-control-lg.border(type='password')
                                label.form-label(for='form2Example28') Password
                            .pt-1.mb-4
                                button.btn.btn-info.btn-lg.btn-block(type='button') Login
                            p.small.mb-5.pb-lg-2
                                a.text-muted(href='#!') Forgot password?
                            p
                                | Don&apos;t have an account? 
                                a.link-info(href='#!') Register here
                .col-sm-6.px-0.d-none.d-sm-block
                    img.w-100.vh-100(src='/images/saman-taheri-MXMs8q2OjeA-unsplash.jpg' alt='Login image' style='object-fit: cover; object-position: left;')