.wine-page {
    width: 60%;
    position: relative;
}

.sidebar {
    /* margin-left: 40vh; */
    position: relative;
    width:20vh;
    height: 100vh;
    background-color:rgba(233, 228, 228, 0.69);
    
    border-radius:15px
}

.filter-ul {
    margin-top: 10px;
}

.filter-li {
    margin-top: 40px;
}

.drop-button {
    margin-left: 20%
}

.wine-cards {
    margin-left: 25%;
}

.wine-page {
    position: relative;
    height: 100%;
    width: 80%;
}

.offers-count {
    /* float: right; */
    position: absolute;
    left: 65%;
    top: 20%;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.avg-price {
    /* float: right; */
    position: absolute;
    left: 65%;
    top: 30%;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.wine-cards {
    float:right;
    margin-left: 80vh;
    position: absolute;
    top: 0%;
    width:25vh;
    height: 100vh;
    /* border:solid rgb(0, 0, 0); */
}

html, body { height: 100%; width: 100%; margin: 0; }